
body {
    margin-left: auto; 
    margin-right: auto; 
    width: 900px;
}
div { 
    background-color: rgba(245,160,99,0.4);
    padding: 10px; 
    }

div.div1 {
     float: left; 
     width: 180px;
     padding: 0px;
}
div.div2 {
     background-color: white;
     margin: 4px;
     border: black 1px solid;
}
div.div3 { 
    float: right;
    width: 180px; 
    padding: 0px;
}
div.div4 {
   background-color: white;
   margin: 4px; 
   border: black 1px solid;
}
div.div5 {
     margin-left: auto;
     margin-right: auto; 
     width: 480px;
}
    
